[submodule "src/main/java/com/example/stockservice/entity/common-technical-indicators"]
	path = src/main/java/com/example/stockservice/entity/common-technical-indicators
	url = https://github.com/ghrp8277/common-technical-indicators.git
